.title{
    font-weight: bold;
    text-transform: uppercase;
    -webkit-text-stroke-color: rgba(250, 13, 13, 0.897);
    -webkit-text-stroke-width: 1.7px;
    text-shadow: 2px 2px 4px rgb(244, 48, 4);
}

#top-position{
    font-weight: bold;
    text-transform: uppercase;
    -webkit-text-stroke-color: rgba(250, 13, 13, 0.897);
    -webkit-text-stroke-width: 1.0px;
    text-shadow: 2px 2px 4px rgb(244, 48, 4);
}

#border-bottom1{
    height: 1.8px;
    width: 60px;
    background-color: red;
}

#border-bottom2{
    height: 1.8px;
    width:60px;
    border-radius: 1030px;
    background-color: red;
}

#circle{
    height: 4px;
    width: 5px;
    border-radius: 10px;
    background-color: red;
}